:host {
  flex: 0 0 100%;
  height: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.slider-frame {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100%;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
}

.slider-frame > img {
  object-fit: contain;
  width: 100%;
  flex: 3 3 70%;
}

.slider-frame > .text {
  flex: 1 1 30%
}
