:host {
  max-width: 600px;
  width: 100vw;
  max-height: 420px;
  height: 100vh;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  display: flex;
  align-items: center;
  color: white;
  overscroll-behavior-x: none;
}

#progress-bar {
  width: 100%;
  align-self: flex-start;
}
